<!DOCTYPE html>
<html lang="en">
<body>
  <p style="font-family: Arial">We made this bot with loving care for just one server; Roboticraft. As a group of freinds who like to have fun on minecraft, Me (mintysharky) and Max decided to make this bot to make life easier and more customizable for the server. Now, rather than going all emotional, I recommend you exploring our website.     </p>
  <a href="https://roboticraft.nanmuhongye.repl.co/donations">Donations</a><br>
    <a href="https://roboticraft.nanmuhongye.repl.co/sponsors">Sponsors</a><br>
    <a href="https://roboticraft.nanmuhongye.repl.co/amogus_sussy">Amogus sussy</a><br>
    <a href="https://roboticraft.nanmuhongye.repl.co/special_thanks">Special thanks</a>
</body>

</html>

