<!DOCTYPE html>
<html>
  <body>
  
    <h1>Home</h1>
    <p>We made this bot with loving care for just one server; Roboticraft. As a group of freinds who like to have fun on minecraft, Me (mintysharky) and Max decided to make this bot to make life easier and more customizable for the server.</p>

    <a href="https://roboticraft.nanmuhongye.repl.co/donations">Donations</a>
    <a href="https://roboticraft.nanmuhongye.repl.co/sponsors">Sponsors</a>
    <a href="https://roboticraft.nanmuhongye.repl.co/amogus_sussy">Amogus sussy</a>
    <a href="https://roboticraft.nanmuhongye.repl.co/special_thanks">Special thanks</a>
  
  </body>
</html>